<header>
  <%= render '/podling/episodes/flash' %>

  <h1 class="mui--text-display3">Episodes</h1>
</header>

<%= link_to 'New episode', new_admin_episode_path, class: 'mui-btn mui-btn--primary' %>

<ul class="episodes--list">
  <%= render partial: 'episode', collection: episodes %>
</ul>
